/**
 * Variable declarations.
 */
:root {
    --color-white: whitesmoke;
    --color-overlay: royalblue;
    --color-dark: black;
}

/**
 * Reset some important browser styles to make our life easier.
 */
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/**
 * Fix box sizing so calculating sizes is easier.
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/**
 * Ensure we have the entire page to play with and it can be put on top of
 * stream elements.
 */
html, body, #root {
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

/**
 * Set the default font for our React app.
 */
#root {
    font-family: 'Roboto', sans-serif;
}

/**
 * Custom gradient for our overlay background.
 */
.background-frame {
    background: linear-gradient(to right,
        var(--color-overlay) 0 1.5rem,
        var(--color-dark) 0 1.5rem,
        transparent 2.5rem 45rem,
        var(--color-dark) 45.5rem 45.5rem,
        var(--color-overlay) 0 47rem,
        var(--color-dark) 0 47rem,
        transparent 48rem calc(100vw - 2rem),
        var(--color-dark) calc(100vw - 1.5rem) calc(100vw - 1.5rem),
        var(--color-overlay) calc(100vw - 1.5rem)
    );
}